@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Young Serif", serif;
}

/* Media query for mobile devices */
@media screen and (min-width: 1025px) {
  /* Style the navigation bar */
  .navbar {
    display: flex;
    justify-content: space-between; /* Equal space between the elements */
    align-items: center;
    background-color: white;
    padding: 10px 30px;
  }

  /* Style the company name */
  .company-name {
    color: rgb(127, 140, 250);
    font-size: 20px;
    font-weight: 900;
  }

  /* Style the hamburger menu */
  .menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .bar {
    width: 30px;
    height: 3px;
    background-color: rgb(96, 122, 255);
    margin: 3px 0;
  }

  /* Style the navigation menu */
  .menu {
    list-style: none;
    display: flex;
  }

  .menu li {
    margin-right: 20px;
  }

  .menu a {
    text-decoration: none;
    color: rgb(96, 122, 255);
    font-weight: bold;
    transition: color 0.3s;
  }

  .menu a:hover {
    color: #ff5733;
  }

  .menu.active {
    display: flex;
  }

  /* Style the intro container */
  .intro-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full viewport height */
  }

  /* Style the intro section */
  .intro {
    text-align: justify;
    padding: 20px;
    margin-left: 20px; /* Space from the left */
    margin-right: 20px; /* Space from the right */
    margin-top: 20px; /* Space from the top */
    margin-bottom: 20px; /* Space from the bottom */
  }

  .intro h1 {
    font-size: 40px;
    margin-bottom: 10px;
    color: rgb(127, 140, 250);
  }

  .intro p {
    font-size: 16px;
    color: rgb(23, 43, 77);
  }

  .intro h4 {
    display: flex;
    padding-top: 20px;
    color: rgb(127, 140, 250);
  }

  .font-awesome {
    display: flex;
    margin-right: 250px;
    margin-top: 10px;
    justify-content: space-between;
    cursor: pointer;
    color: rgb(23, 43, 77);
  }
}
